@page
@model Web.Pages.Documents.IndexModel

@{
    ViewData["Title"] = "Lista dokumentów";
}

<h1>Lista dokumentów</h1>

<p>
    <a asp-page="Documents/Create" class="btn btn-primary">Dodaj nowy dokument</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Tytuł</th>
            <th>Opis</th>
            <th>Status</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var document in Model.Documents)
        {
            <tr>
                <td>@document.Id</td>
                <td>@document.Title</td>
                <td>@document.Description</td>
                <td>@document.Status</td>
                <td>
                    <a asp-page="Documents/Edit" asp-route-id="@document.Id" class="btn btn-primary">Edytuj</a>
                    <a asp-page="Documents/Download" asp-route-id="@document.Id" class="btn btn-primary">Pobierz</a>
                    <a asp-page="Documents/Delete" asp-route-id="@document.Id" class="btn btn-danger">Usuń</a>
                </td>
            </tr>
        }
    </tbody>
</table>
